<h2 mat-dialog-title>Confirmar</h2>
<div mat-dialog-content>
  <p>Confirma a exclusão do tipo de documento selecionado?</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="warn" [disabled]="deletando"
          (click)="deletar(data.idTipo)">
    <mat-icon *ngIf="!deletando">delete</mat-icon>
    <mat-icon *ngIf="deletando">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
    Confirmar
  </button>
  <button mat-raised-button color="accent" (click)="fechar()">
    Cancelar
    <mat-icon>close</mat-icon>
  </button>
<div>