<!-- Toolbar Título -->
<mat-toolbar color="accent">
  <div>Outras Opções</div>
</mat-toolbar>

<br />
<!-- Deletar Tipo de Documento -->
<mat-card>
  <mat-card-title>Deletar Tipo de Documento</mat-card-title>
  <mat-card-content>
    <p>select do tipo</p>
    <p>botao deletar tipo</p>
  </mat-card-content>
</mat-card>

<br />
<!-- Deletar Caixa -->
<mat-card>
  <mat-card-title>Deletar Caixa de um Cliente</mat-card-title>
  <mat-card-content>
    <p>input autocomplete de clientes</p>
    <p>select de caixas do cliente</p>
    <p>botao deletar caixa</p>
  </mat-card-content>
</mat-card>