<br />
<!-- Card Consulta -->
<mat-card>
  <!-- Título -->
  <mat-card-title>
    Consultar cliente
  </mat-card-title>
  <mat-card-content>
    <!-- Formulario -->
    <form [formGroup]="formulario" (ngSubmit)="buscar()">
      <!-- Campo nome -->
      <mat-form-field appearance="fill" class="width-full">
        <mat-label>Nome do cliente</mat-label>
        <input matInput maxlength="45" placeholder="Digite o nome do cliente"
                formControlName="nome" />
      </mat-form-field>
      <!-- Botão Buscar -->
      <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="carregando">
          <mat-icon *ngIf="!carregando">search</mat-icon>
          <mat-icon *ngIf="carregando">
            <mat-spinner color="primary" diameter="20"></mat-spinner>
          </mat-icon>
          Buscar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br/>

<!-- Card Resultado -->
<mat-card *ngIf="mostrarTabela">
  <!-- Título -->
  <mat-card-title>
    Resultado da pesquisa
  </mat-card-title>
  <mat-card-content>
    <!-- Barra aguardando -->
    <div class="width-full">
      <mat-progress-bar mode="indeterminate" 
          *ngIf="carregandoCaixas||deletando||adicionandoCaixa">
      </mat-progress-bar>
    </div>
    <!-- Tabela -->
    <table mat-table [dataSource]="clientes" class="width-full" #table="matTable">

      <!-- Coluna Id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.id}} </td>
      </ng-container>
    
      <!-- Coluna Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
      </ng-container>
    
      <!-- Coluna CNPJ -->
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef> CNPJ </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.cnpj}} </td>
      </ng-container>
    
      <!-- Coluna Endereco -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> Endereco </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.endereco}} </td>
      </ng-container>

      <!-- Coluna Caixas -->
      <ng-container matColumnDef="caixas">
        <th mat-header-cell *matHeaderCellDef> Caixas </th>
        <td mat-cell *matCellDef="let cliente; let i = index;">
          <button mat-icon-button color="primary" matTooltip="buscar caixas"
                  (click)="buscarCaixas(i, cliente.id)" 
                  *ngIf="!temCaixas(i, cliente.caixas)">
            <mat-icon>search</mat-icon>            
          </button>
          <p *ngIf="temCaixas(i, cliente.caixas)">
            {{caixasId(cliente.caixas)}}
          </p>
        </td>
      </ng-container>

      <!-- Coluna Acoes -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let cliente; let i = index;">
          <button mat-icon-button color="basic" matTooltip="adicionar caixa" 
                  (click)="adicionarCaixa(i, cliente.id)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="editar" 
                  (click)="editar(cliente.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="deletar" 
                  (click)="openDeleteDialog(i, cliente.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>    
  </mat-card-content>
</mat-card>
